build/
deploy/
archive/
results/
_site/
*.suo
*.user
Source/**/bin
Source/**/Bin
obj
_ReSharper*
*.csproj.user
*.resharper.user
*.userprefs
*.suo
*.cache
*.pidb

TestResult.xml
Source/CommonAssemblyInfo.cs
*test-results/
